@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #FFFCF5;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Julius Sans One", serif;
}
