Django>=5.2.7,<5.3
gunicorn
whitenoise
psycopg2-binary        # Postgres driver
django-cors-headers    # allow your Pages/frontend to call the API
python-dotenv          # optional, for local dev
django-storages
dj-database-url
djangorestframework>=3.14.0
djangorestframework-simplejwt
Pillow
boto3
cloudinary>=1.44.2
django-cloudinary-storage>=0.3.0
